{
  "extends": "airbnb-base",
  "globals": {
    "window": true,
    "fetch": true
  },
  "rules": {
    "indent": ["error", 4],
    "eol-last": "off",
    "comma-dangle": "off",
    "no-new": "off",
    "operator-assignment": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "consistent-return": "off",
    "linebreak-style": "off",
    "max-len": "off"
  }
}