{
  "extends": "airbnb-base",
  "globals": {
    "window": true
  },
  "rules": {
    "comma-dangle": "off",
    "no-new": "off",
    "operator-assignment": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "consistent-return": "off"
  }
}