.buy {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.7;
  }

  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 2px solid #09b9b2;
  border-radius: 5px;
  padding: 20px;

  &__button {
    width: 100px;
    height: 30px;
    background: #09b9b2;
    text-transform: uppercase;
    color: white;
    border: none;
    display: block;

    &:hover {
      background: darken(#09b9b2, 20%);
    }
  }
  &__description {
    text-align: center;
  }
}